<%- include('../header') %>

<form method="POST" action="/publicacoes/editar/<%= categoria %>/<%= publicacao.id%>">
  <div class="form-group"> 
      <label for="titulo">Titulo</label>
      <input type="text" name="titulo" class="form-control" value="<%= publicacao.titulo %>">
    </div>
  <div class="form-group"> 
      <label for="conteudo">Conteudo</label>
      <textarea type="text" name="conteudo" class="form-control"><%= publicacao.conteudo %></textarea>
    </div>
  <button type="submit" class="btn btn-primary" >Salvar</button>

</form>



<%- include('../footer') %>